.home {
  display: flex;
}

.hero-container {
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  padding-left: 70px;
}

.hero-text {
  max-width: 36vw;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 38px;
  line-height: 119.52%;
}

.hero-link {
  text-decoration: none;
  color: blue;
}

.hero-link-text {
  margin-top: 10px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.arrow {
  height: 15px;
}

.arrow:hover {
  transform: translateX(10px);
  transition: transform 0.3s ease-in-out;
}

.hero-link:hover + .arrow {
  transform: translateX(10px);
  transition: transform 0.3s ease-in-out;
}

.animated-button {
  position: relative;
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.animated-button:before,
.animated-button:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #000;
  transition: width 0.3s ease-in-out;
}

.animated-button:before {
  left: 0;
}

.animated-button:after {
  right: 0;
}

.animated-button:hover:before,
.animated-button:hover:after {
  width: 50%;
}

.reader {
  min-height: 80vh;
  min-width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reader-img {
  height: 400px;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji {
  font-size: 20px;
}

@media (max-width: 820px) {
  .home {
    flex-direction: column;
  }

  .hero-text {
    max-width: 80vw;
  }


}
