@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish";
}

:root {
  --root-horizontal-padding: 150px;
}

body {
  background: #ededfe;
}

.navbar {
  z-index: 999;
  background: #ededfe;
  position: fixed;
  width: 100vw;
  top: 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-left: var(--root-horizontal-padding);
  height: 70px;
}

.body-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.navbar-item {
  margin: 2px;
}

.navlinks-container {
  padding-right: var(--root-horizontal-padding);
  display: flex;
  align-items: center;
  gap: 30px;
}

.navlink {
  text-decoration: none;
  color: black;
  border-right: 2px solid black;
  padding-right: 15px;
  font-family: "Arial";
  font-weight: bold;
  font-size: 20px;
  min-width: 80px;
  text-align: center;
}

.navlink:hover {
  text-decoration: underline;
}

.flash-messages {
  padding-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  width: 350px;
  margin-top: 10px;
  padding: 15px 0;
  border-radius: 30px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.7);
  font-size: 18px;
}

.info {
  background-color: #17a2b8 !important;
  color: white;
}

.success {
  background-color: #28a745 !important;
  color: white;
}

.danger {
  background-color: #dc3545 !important;
  color: white;
}

.warning {
  background-color: #ffc107 !important;
}

@media (max-width: 820px) {
  :root {
    --root-horizontal-padding: 10px;
  }

  .navbar {
    position: static;
  }

  .navbar, .navlinks-container {
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navlink {
    border: none;
    text-decoration: underline;
  }

  .body-container {
    margin: 0;
  }
}