<link rel="stylesheet" href="{{url_for('static', filename='account.css')}}" />

{% extends 'layout.html' %} {% block title %} Account {% endblock title %} {%
block body %}
<div class="whitespace"></div>
<div class="account">
  <img class="user-img" src="{{image_file}}" alt="profile" />
  <div class="user-details">
    <div class="detail-group">
    <p class="">username:</p>
    <b>{{current_user.username}}</b>
  </div>
  <div class="detail-group">
    <p class="">email:</p>
    <b>{{current_user.email}}</b>
  </div>
  </div>
</div>
<p class="update-heading">Update your details</p>
<div class="account-update">
  <form class="account-update-form" action="" method="post" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.username.label(class="form-username")}}
      {{form.username(class="form-username")}} {% if form.username.errors %} {%
      for error in form.username.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      {{form.email.label(class="form-email")}}
      {{form.email(class="form-email")}} {% if form.email.errors %} {% for error
      in form.email.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group update-pic">
      {{form.picture.label()}} {{form.picture()}} {% if form.picture.errors %}
      {% for error in errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group submit">{{form.submit()}}</div>
  </form>
</div>

{% endblock body %}
