<link rel="stylesheet" href="{{url_for('static', filename='account.css')}}" />

{% extends 'layout.html' %} {% block title %} Account {% endblock title %} {%
block body %}
<div class="container">
  <div class="account">
    <img class="user-img" src="{{image_file}}" alt="profile" />
    <div class="user-details">
      <div class="detail-group">
        <p class="">username:</p>
        <b class="username">{{current_user.username}}</b>
      </div>
      <div class="detail-group">
        <p class="">email:</p>
        <b class="email">{{current_user.email}}</b>
      </div>
      <a href="/account/update" class="detail-group update-btn">
        <button>Update account details</button>
      </a>
    </div>
  </div>
</div>

{% endblock body %}
