{% extends 'layout.html' %} {% block title %} Account {% endblock title %} {%
block body %}
<div class="account">
  <p class="text-lg">{{current_user.username}}</p>
  <p class="text-lg">{{current_user.email}}</p>
  <img class="w-[10%]" src="{{image_file}}" alt="profile" />
</div>

<div class="account-update">
  <form action="" method="post" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.username.label(class="form-username")}}
      {{form.username(class="form-username")}} {% if form.username.errors %} {%
      for error in form.username.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      {{form.email.label(class="form-email")}}
      {{form.email(class="form-email")}} {% if form.email.errors %} {% for error
      in form.email.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      {{form.picture.label()}} {{form.picture()}} {% if form.picture.errors %}
      {% for error in errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">{{form.submit()}}</div>
  </form>
</div>

{% endblock body %}
