<link rel="stylesheet" href="{{url_for('static', filename='home.css')}}" />
{% extends 'layout.html' %} {% block title %} Home {% endblock title %} {% block
body %}

<div class="home">
  <div class="hero-container">
    <div class="hero">
      <p class="hero-text">
        Our place for gushing over, ranting, and calling out on books we read :)
      </p>
      <a href="/posts" class="hero-link"
        ><p class="hero-link-text animated-button">
          Browse the latest posts
          <span>
            <img
              class="arrow move-left"
              src="{{url_for('static', filename='arrow.png')}}"
              alt="arrow"
            />
          </span></p
      ></a>
    </div>
  </div>
  <div class="reader">
    <img
      class="reader-img"
      src="{{url_for('static', filename='reader.png')}}"
      alt="reader"
    />
  </div>
</div>
<div class="credits">
  <div><i>designed by - Afreen</i><span class="emoji">🫶</span></div>
</div>

{% endblock body %}
