{% extends 'layout.html' %} {% block title %} Home {% endblock title %} {% block
body %}
<div class="home">
  {% for post in posts.items %}
  <div class="post text-center border-red-300 border-2 m-1">
    <div class="post-metadata">
      <a href="{{url_for('user.user_posts', username=post.author.username)}}">
        <img
          width="20px"
          src="{{url_for('static', filename='profile_pics/'+post.author.image_file)}}"
          alt="author"
        />
        {{post.author.username}}
      </a>
      <p class="text-sm">{{post.date_posted.strftime('%Y-%m-%d')}}</p>
    </div>
    <a href="{{url_for('post.view_post', post_id=post.id)}}" class="text-lg"
      >{{post.title}}</a
    >
    <p class="post-content">{{post.content}}</p>
  </div>
  {% endfor %}
</div>

<div class="pages">
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1,
  right_current=2) %} {% if page_num %} {% if posts.page == page_num %}
  <a href="{{url_for('main.home', page=page_num)}}"><b>{{page_num}}</b></a>
  {% else %}
  <a href="{{url_for('main.home', page=page_num)}}">{{page_num}}</a>
  {% endif %} {% else %} ... {% endif %} {% endfor %}
</div>

{% endblock body %}
