<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}" />

{% extends 'layout.html' %} {% block title %} Sign In {% endblock title %} {%
block body %}

<div class="login">
  <form class="login-form" action="" method="post">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.email.label(class="form-email")}}
      {{form.email(class="form-email")}} {% if form.email.errors %} {% for error
      in form.email.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      {{form.password.label()}} {{form.password()}} {% if form.password.errors
      %} {% for error in form.password.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      <div class="">{{form.remember.label()}} {{form.remember()}}</div>
    </div>
    <div class="form-group submit">{{form.submit()}}</div>
  </form>
  <div class="forgot-password">
    <p>
      Forgot Password? &nbsp; &nbsp; &nbsp; &nbsp;
      <span
        ><a class="signup-link" href="{{url_for('user.reset_request')}}"
          >Click here</a
        ></span
      >
    </p>
  </div>
  <div class="create-account">
    <p>
      Create a new account? {{" "}}
      <span><a class="signup-link" href="/register">Sign Up</a></span>
    </p>
  </div>
</div>

{% endblock body %}
