{% extends 'layout.html' %} {% block title %} Home {% endblock title %} {% block
body %}
<div class="post">
  <div class="post text-center border-red-300 border-2 m-1">
    <div class="post-actions">
      {% if post.author == current_user %}
      <a href="{{url_for('post.update_post', post_id=post.id)}}">Update Post</a>
      <a href="{{url_for('post.delete_post', post_id=post.id)}}">Delete Post</a>
      {% endif %}
    </div>
    <div class="post-metadata">
      <a href="{{url_for('user.user_posts', username=post.author.username)}}">
        <img
          width="20px"
          src="{{url_for('static', filename='profile_pics/'+post.author.image_file)}}"
          alt="author"
        />
        {{post.author.username}}
      </a>
      <p class="text-sm">{{post.date_posted.strftime('%Y-%m-%d')}}</p>
    </div>
    <p class="text-lg">{{post.title}}</p>
    <p class="post-content">{{post.content}}</p>
  </div>
</div>

{% endblock body %}
