<link rel="stylesheet" href="{{url_for('static', filename='register.css')}}" />

{% extends 'layout.html' %} {% block title %} Register {% endblock title %} {%
block body %}

<div class="register">
  <form class="register-form" action="" method="post">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.username.label(class="form-username")}}
      {{form.username(class="form-username")}}
      <!-- error validation -->
      {% if form.username.errors %}
      <p>username errors found</p>
      {% for error in form.username.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      {{form.email.label(class="form-email")}}
      {{form.email(class="form-email")}} {% if form.email.errors %} {% for error
      in form.email.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      {{form.password.label()}} {{form.password()}} {% if form.password.errors
      %} {% for error in form.password.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      {{form.confirm_password.label()}} {{form.confirm_password()}} {% if
      form.confirm_password.errors %} {% for error in
      form.confirm_password.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group submit">{{form.submit()}}</div>
  </form>
  <div class="already-account">
    <p>
      Already have an account? &nbsp;
      <span><a class="signin-link" href="/login">Sign In</a></span>
    </p>
  </div>
</div>

{% endblock body %}
