<link rel="stylesheet" href="{{url_for('static', filename='register.css')}}" />

{% extends 'layout.html' %} {% block title %} Register {% endblock title %} {%
block body %}

<div class="register">
  <form class="register-form" action="" method="post">
    <p class="heading">Sign Up</p>
    <p class="sub-heading">Write posts about your new fav books</p>
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.username(class="form-username", placeholder="Username")}}
      <!-- error validation -->
      {% if form.username.errors %}
      <p>username errors found</p>
      {% for error in form.username.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      {{form.email(class="form-email", placeholder="Email")}} {% if form.email.errors %} {% for error
      in form.email.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      {{form.password(placeholder="Password")}} {% if form.password.errors
      %} {% for error in form.password.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      {{form.confirm_password(placeholder="Confirm Password")}} {% if
      form.confirm_password.errors %} {% for error in
      form.confirm_password.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="submit">{{form.submit()}}</div>
    <div class="already-account">
      <p>
        Already have an account? &nbsp;
        <span><a class="signin-link" href="/login">Sign In</a></span>
      </p>
    </div>
  </form>
</div>

{% endblock body %}
