{% extends 'layout.html' %} {% block title %} Reset Password Token {% endblock
title %} {% block body %}

<div class="reset-token">
  <form action="" method="post">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.password.label(class="form-password")}}
      {{form.password(class="form-password")}} {% if form.password.errors %} {%
      for error in form.password.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">
      {{form.confirm_password.label(class="form-confirm_password")}}
      {{form.confirm_password(class="form-confirm_password")}} {% if
      form.confirm_password.errors %} {% for error in
      form.confirm_password.errors %}
      <span>{{error}}</span>
      {% endfor %} {% endif %}
    </div>
    <div class="form-group">{{form.submit()}}</div>
  </form>
</div>

{% endblock body %}
